body {
  padding: 0;
  margin: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

h1 {
  font-family: 'Tinos', serif;
  color: black;
  text-align: center;
  font-size: 45px; }

h2, h3 {
  font-family: 'Poiret One', cursive;
  color: #52C698; }

p {
  font-family: 'Tinos', serif;
  font-size: 16px; }

/*NAV*/
.current, .current:hover {
  font-family: 'Poiret One', cursive;
  font-size: 18px;
  color: #ffffff;
  background-color: #52C698;
  border-radius: 10px;
  padding: 10px; }

.current:hover {
  text-decoration: none; }

nav {
  width: 900px;
  margin: auto; }
  nav ul {
    width: 550px;
    margin: auto; }
  nav li {
    display: inline-block;
    margin: auto;
    text-align: center; }
  nav a {
    font-family: 'Poiret One', cursive;
    font-size: 18px;
    display: block;
    margin: 30px;
    text-decoration: none;
    color: black;
    vertical-align: middle;
    width: 100px; }
    nav a:hover {
      font-family: 'Poiret One', cursive;
      font-size: 18px;
      color: #52C698;
      text-decoration: underline; }

header nav {
  display: none; }

/*layout*/
.home_image {
  display: block;
  border-radius: 10px;
  width: 50%;
  height: 50%; }

article {
  vertical-align: top;
  margin-left: 30%;
  margin-right: 30%; }

.landing_bottom1, .landing_bottom2 {
  vertical-align: top;
  display: inline-block; }

.landing_bottom1 {
  width: 55%; }

.landing_bottom2 {
  width: 28%;
  float: right; }

article a {
  text-decoration: none;
  color: black; }

article a:hover {
  color: #52C698;
  text-decoration: underline; }

nav {
  width: 20%;
  margin-left: 20px; }
  nav ul {
    width: 10%; }
  nav a {
    vertical-align: middle;
    text-align: center; }

header {
  padding: 10px; }

nav, section, aside {
  display: inline-block;
  vertical-align: top; }

section {
  width: 50%;
  margin-left: 20px; }

aside {
  width: 20%;
  float: right;
  margin-right: 20px; }
  aside img {
    background-color: black;
    border-radius: 10px; }
    aside img:hover {
      background-color: #52C698; }

p img {
  border-radius: 15px; }
