nav {
  width: 20%;
  margin-left: 20px;
}

nav ul {
  width: 10%;
}

nav a {
  vertical-align: middle;
  text-align: center;
}

header {
  padding:10px;
}

nav, section {
  display: inline-block;
  vertical-align: top;

}
section {
  width: 70%;
  margin-left: 20px;
}

section a {
  text-decoration: none;
  color: #52C698;

}

section a:hover {
  color: #52C698;
  text-decoration: underline;
}

section img {
  display: inline-block;
  vertical-align: top;
  float: right;
  margin-right: 350px;
  margin-top: -70px;
  padding-bottom: 20px;
  border-radius: 5%;
}
