@import 'main';

$green_color: #52C698;

nav {
  width: 20%;
  margin-left: 20px;
  & ul{
    width: 10%;
  }
  & a {
    vertical-align: middle;
    text-align: center;
  }
}


header {
  padding:10px;
}

nav, section, aside {
  display: inline-block;
  vertical-align: top;

}
section {
  width: 50%;
  margin-left: 20px;
}

aside {
  width: 20%;
  float: right;
  margin-right: 20px;
  & img {
    background-color: black;
    border-radius: 10px;
    &:hover {
      background-color: $green_color;
    }
  }
}


p img {
  border-radius: 15px;
}
