@import 'main';

$green_color: #52C698;

nav {
  width: 20%;
  margin-left: 20px;
  & ul{
    width: 10%;
  }
  & a{
    vertical-align: middle;
    text-align: center;
  }
}


header {
  padding:10px;
}

nav, section {
  display: inline-block;
  vertical-align: top;

}
section {
  width: 70%;
  margin-left: 20px;
    & a{
      text-decoration: none;
      color: $green_color;
      &:hover {
        color: $green_color;
        text-decoration: underline;
      }
    }
    & img {
      display: inline-block;
      vertical-align: top;
      float: right;
      margin-right: 20px;
      margin-top: -70px;
      padding-bottom: 20px;
      border-radius: 5%;
    }
}
