$green_color: #52C698;
$sub_head_font: 'Poiret One', cursive;
$main_font: 'Tinos', serif;


body {
  padding: 0;
  margin: 0;

}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1 {
  font-family: $main_font;
  color: black;
  text-align: center;
  font-size: 45px;
}

h2, h3 {
  font-family: $sub_head_font;
  color: $green_color;
}

p {
  font-family: $main_font;
  font-size: 16px;
}
/*NAV*/


.current {
  font-family: $sub_head_font;
  font-size: 18px;
  color: #ffffff;
  background-color: $green_color;
  border-radius: 10px;
  padding: 10px;

}

.current:hover {
  @extend .current;
  text-decoration: none;
}



nav {
  width: 900px;
  margin: auto;
  & ul {
    width: 550px;
    margin: auto;
  }
  & li {
    display: inline-block;
    margin: auto;
    text-align: center;
  }
  & a{
    font-family: $sub_head_font;
    font-size: 18px;
    display: block;
    margin: 30px;
    text-decoration: none;
    color: black;
    vertical-align: middle;
    width: 100px;
    &:hover{
      font-family: $sub_head_font;
      font-size: 18px;
      color: $green_color;
      text-decoration: underline;
    }
  }
}


header nav {
  display: none;
}


/*layout*/

.home_image {
  display: block;
  border-radius: 10px;
  width: 50%;
  height: 50%;
}

article {
  vertical-align: top;
  margin-left: 30%;
  margin-right: 30%;


}

.landing_bottom1, .landing_bottom2 {
  vertical-align: top;
  display: inline-block;
}

.landing_bottom1 {
  width: 55%;


}

.landing_bottom2 {
  width: 28%;
  float: right;


}

article a {
  text-decoration: none;
  color: black;

}

article a:hover {
  color: $green_color;
  text-decoration: underline;
}
