@media screen and (max-width:500px) {

    h1 {
      font-size: 2.5em;
    }

    section {
      max-width: 500px;
      width: 100%;
      margin: auto;
    }

   .home_image {
      width: 95%;
    }

    section p{
      clear: both;

    }

    header nav {
      width: 100%;
      display: inline;
      & ul {
        max-width: 500px;
        width: 100%;
        margin: auto;
      }

      & li {
        display: inline;
      }

      & a {
        width: 100%;
        margin-left: 0;
        &:hover {
          border-radius: 0%;
        }
      }
    }

    .current {
      border-radius: 0%;
      padding-left: 0;
    &:hover {
      border-radius:0%;
    }
    }

/*header nav ul {
  max-width: 500px;
  width: 100%;
  margin: auto;
}

header nav li {
  display: inline;
}

header nav a {
  width: 100%;

}*/

    footer nav {
      display: none;
    }









}
